In [1]:
import pandas as pd

In [5]:
series = pd.Series(41, index = [0,1,2], dtype = float, name= 'const')
result = series.sum()

print(series)
print(result)

0    41.0
1    41.0
2    41.0
Name: const, dtype: float64
123.0

In [6]:
data = ['Python','Django','Pandas','Matplotlib','Seaborn']
series = pd.Series(data)
print(series)
print(series[2])

0        Python
1        Django
2        Pandas
3    Matplotlib
4       Seaborn
dtype: object
Pandas

In [8]:
data = [2,3,4,5,6,7]
idx = [0,1,2,3,4,5]
series = pd.Series(data = data, index = idx)
result = series.shape
print(series)
print(result)

0    2
1    3
2    4
3    5
4    6
5    7
dtype: int64
(6,)

In [13]:
data = {'Blue':20,'Gray':15,'White':18}
series = pd.Series(data)
print(series)
print(series.index[2])
print(series[2])

Blue     20
Gray     15
White    18
dtype: int64
White
18

In [14]:
data = pd.Series(['Blue','White','Gray','Red','Black'])
result = data.ndim   #You access the dimension by using the Series attribute ndim which results in the integer value 1.
print(result)

1

In [15]:
data = [1,2,3,4,5,6]
index = [1,3,5,7,9,11]
series = pd.Series(data,index)
result = series.size        #The size attribute of the Series object tracks its number of elements.
print(result)

6

In [17]:
import numpy as np

data = pd.Series([1,2,np.NaN,4,np.NaN])
result = data.hasnans  #The attribute hasnans returns  True if there is al least one NaN valur and False otherwise.
print(result)

True

In [21]:
data = {'Germany':'Berlin','UK':'London','Italy':'Rome','France':'Paris'}
capitals = pd.Series(data)
result = capitals.iloc[-3]      #The integer-location index iloc[]
print(result)

London

In [23]:
data = pd.Series(range(7))
bs = [False, False, True, True,False,True,False]   
result = data.loc[bs].sum()    # The loc[] index, you explicitly define which element you want to access from the Series.
print(data.loc[bs])
print(result)

2    2
3    3
5    5
dtype: int64
10

In [24]:
data = pd.Series([True,True,False,True])
result = data.all() | data.any()
print(result)

True

In [26]:
series = pd.Series(range(1,50))
result = series.max() + min(series)
print(result)

50

In [27]:
cities = {1:'London',2:'Berlin',3:'Amsterdam'}
zips = pd.Series(data = cities)
zips = zips.apply(lambda x:x.upper())   #The Series method apply() applies a function to all values in the Series.
result = zips.loc[2]
print(result)

BERLIN

In [31]:
data = pd.Series([8,6,1,3,5])
data.sort_values(inplace = True)   #If you set inplace argument to True, Pandas applies the changes in-place, so that 
result = data[0]                # you don't need to reassign the result to a new variable or overwrite an existing one.
                           #While this can improce readability and reduce the likelihood of bugs in your code, this also means 
print(result)            # that you can't do method chaining.

2    1
3    3
4    5
1    6
0    8
dtype: int64
8

In [32]:
data = pd.Series(range(0,100,50))
x = data > 50
result = x.any()
print(result)

False

In [33]:
xs = pd.Series([5,1,4,2,3])
xs.where(xs > 2, inplace =True)   #The method where() filters a Series by a condition. Only the elements that satisfy 
result = xs.hasnans               # the condition remain in the resulting Series.
print(result)

True

In [34]:
data = pd.Series([3,2,0,1])
data.sort_values().sort_index()       #The Series method sort_values() sorts the Series by value. Because you don't set the
print(data)                         #argument inplace=True,the method returns the sorted Series, and you can call another
                            #method on the returned Series. This is denoted as method chaining.

0    3
1    2
2    0
3    1
dtype: int64

In [35]:
data = pd.Series(range(10))
result = data.cumsum(axis = 0)[4] #The method cumsum() computes cumulative sums -the i-th sum is computed as the (i-1)-th sum
print(result)                       #plus the i-th element.

10

In [37]:
a = pd.Series(range(1,9))
b = pd.Series(range(1,9))
result = (a + b)[1]              # The Series do not need to have the same size because once the first Series ends
print(result)                   # the subsequent element-wise results are NaN values.

4

In [41]:
data = [['blue',7.0],['white',3.0],['yellow',2.1]]
df = pd.DataFrame(data, columns= ['Color','Number'])
print(df)
lst = pd.Series([2,5,8])
print(df['Number']*lst)
result = (df['Number']*lst).sum()
print(result)

    Color  Number
0    blue     7.0
1   white     3.0
2  yellow     2.1
0    14.0
1    15.0
2    16.8
dtype: float64
45.8

In [42]:
color = ['blue','white','green']
number = [2,3,5]
data = {'color':color, 'number':number}

df = pd.DataFrame(data)

df['Count'] = [11,12,13]
print(df)

   color  number  Count
0   blue       2     11
1  white       3     12
2  green       5     13

In [46]:
data = [{'Car':'Ferrari','Deriver':'Schumacher, Michael'},{'Car':'Lamborghini','Deriver':'Hamilton, Lewis'},
             {'Car':'Audi'},  {'Car':'Mercedes'}             ]
df = pd.DataFrame(data,index=['Rank 3', 'Rank 2','Rank 1','Rank 4'])

df.sort_index(inplace=True)
result = df['Car'].iloc[0]
print(result)

Audi

In [47]:
names = ['Blue','Black','Yellow']
number = [23,11,17]
data = list(zip(names,number))

df = pd.DataFrame(data, index = ['A','B','C'], columns = ['Name','Number'])
print(df)
result = df.loc['B','Number']
print(result)

     Name  Number
A    Blue      23
B   Black      11
C  Yellow      17
11

In [51]:
data = {}
idx = range(1,11)
for i in range(1,11):
    column = pd.Series(range(i,i*10+1,i),index = idx)
    data[i] = column
table = pd.DataFrame(data,index = range(1,11))
print(table)
result = table.loc[4,5]
print(result)

    1   2   3   4   5   6   7   8   9    10
1    1   2   3   4   5   6   7   8   9   10
2    2   4   6   8  10  12  14  16  18   20
3    3   6   9  12  15  18  21  24  27   30
4    4   8  12  16  20  24  28  32  36   40
5    5  10  15  20  25  30  35  40  45   50
6    6  12  18  24  30  36  42  48  54   60
7    7  14  21  28  35  42  49  56  63   70
8    8  16  24  32  40  48  56  64  72   80
9    9  18  27  36  45  54  63  72  81   90
10  10  20  30  40  50  60  70  80  90  100
20

In [ ]:
# The DataFrame's head() method returns the first n rows. 

# The method tail of a DataFrame returns the last n rows.

# The index iloc[] if Pandas DataFrames is integer-location based.

# The index loc[] of a DataFrame is label-based, but you can also use it with list of Boolean values.

# The method count() does not include NaN values.

# The method info() prints information about DataFrame -including the index data type and column data types, non-null values
# and memory usage.

# The method describe() generates descriptive statistics. Descriptive statistics include those that summarize the central 
# tendency, dispersion, and shape of a dataset's distribution, excluding NaN values.

# The method memory_usage() of Pandas DataFrames returns the memory usage in bytes for each column. It's useful for optimizing
# the memory footprint of machine learning models that may need a lot of memory.

# The method filter() on a DataFrame you can filer the columns. 

# The method fillna() replaces NaN values with a new value.

# The method groupby() of the DataFrame class groups values by a given column -so all rows with the same column values
# will be aggregated. You can reverse the grouping with the method explode().

In [53]:
dct = {1:['a'],2:['b'],3:['c']}

result1 = pd.Series(dct)
result2 = pd.DataFrame(dct)

print(result1)
print(result2)

print(len(result1) == len(result2))  #The number of rows of the Series and DataFrame are different.

1    [a]
2    [b]
3    [c]
dtype: object
   1  2  3
0  a  b  c
False

In [57]:
a = pd.np.array([1,2,3,4])
b = np.array([1,2,3,4])

c = a == b   
print(c)

[ True  True  True  True]

<ipython-input-57-0b024c7a9d22>:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  a = pd.np.array([1,2,3,4])